@import "../../../variable.less";
#header{
    height:66px;
    background-color:@headerBackGroundColor;    
    align-items: flex-start;    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    .parent{
        width:100%;
        margin-top: 10px;
        text-align: center;
    }
    .headerIcon{
        border-radius: 50%;
        width: 48px;
        margin-right: 1vw;
    }
}